# Maven
target/
build/

# Vagrant
.vagrant

# IntelliJ
.idea/
*.iml

# Eclipse
.project
.classpath
.settings

# Python
.tox/
__pycache__/
*.pyc
.pytest_cache/

npm-debug.log
node_modules/
node_install/
test_output/
test-output/
dist/
venv/