# Maven
**/target/

# Vagrant
.vagrant

# IntelliJ
.idea/
*.iml

# Eclipse
**/.project
**/.classpath
**/.settings
/.pydevproject

# Python
.tox/
__pycache__/
*.pyc

npm-debug.log
node_modules/
node_install/
test_output/
test-output/
dist/