[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group saml/onap-gerrit-logging-committers
[project]
	description = ARCHIVED- 2022-02-15 at the request of the project\nIssue ID: IT-23624\n\nlogging-analytics Project, RI jar, war, docker, kubernetes projects (also parent for POMBA - ACLs only)
[plugin "its-jira"]
	enabled = true
