[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/onap-gerrit-logging-committers
	read = group GitHub Replication
[project]
	description = logging-analytics Project, RI jar, war, docker, kubernetes projects (also parent for POMBA - ACLs only)
[allowSuperproject "doc"]
	matching = refs/heads/master:refs/heads/master
