<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="org.onap.logging.ref.slf4j" verbose="9" thread-count="1" parallel="methods">
    <test name="all" thread-count="1" enabled="true">
        <packages>
            <package name="org.onap.logging.ref.slf4j.*"/>
        </packages>
    </test>
</suite>